* {
    color: #f1f1f1;
}

#centrep {
    margin-inline: 10%;

}

.transparent {
    color: transparent;
}

body {
    background-color: #222e53;
}

input {
    margin-block: auto;
    border-width: 1px;
}

input.actif:invalid {
    color: red;
    border-width: 2px;
    border-color: red;
}

fieldset:hover {
    border: rgba(102, 199, 255, 0.9) 0.8em solid;
    border-radius: 0.5em;
}

fieldset {
    padding-right: 1em;
    width: 50%;
    margin: 0 auto;
    transition: all 0.2s 0s ease-in-out;
}

.container>dl {
    display: flex;
    flex-direction: column;
}

section>p {
    margin-left: 1em;
    font-size: x-large;
}

p {
    display: inline;
}

.contact {

    margin-top: 1em;
    margin-left: 1em;
    font-size: x-large;
}

dt {
    margin-left: 4em;
}

dd {
    position: relative;
    margin-left: 8em;
    margin-bottom: 1em;
}

input,
textarea {

    margin-left: 6em;
    resize: none;
    border-radius: 0.5em;
}

textarea {
    width: 30em;
}

.intitule {
    display: flex;
    flex-direction: column;
}

.intitule>div {
    display: flex;
    width: 100%;
    padding-block: 0.2em;
    margin-left: 1em;
    /*border : solid pink;*/

}

#zip,
input {
    color: black;
    height: 1.8em;


}

.intitule>div>div {
    /*border: solid red;*/
    width: 18em;

}

form {
    margin-bottom: 4em;
}

#submit {
    size: 2em;
    color: black;
}

#reset {
    color: black;
}

legend {
    text-align: center;
    margin: 0 auto;
    padding-inline: 0.8em;
}

hr {
    margin-bottom: 1em;
}

@media screen and (max-width: 950px) {
    .contact {
        font-size: 1em;
    }

    .intitule>div {
        flex-direction: column;
    }

    input,
    textarea {
        margin-left: 1em;
        width: 15em;
    }

    .radiobutton {
        width: 1em;
    }

    legend {
        padding-inline: 0;
    }

    dt {
        margin-left: 2em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    footer img {
        width: 1.5em;
        height: 1.5em;
    }
}