#bg-img {
    background: url("../img/infos-bg.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
    width: 100%;
    height: 20em;
}

h1 {
    color: #f1f1f1;
}

.important-box:hover p,
.sub-content-box:hover>p {
    visibility: visible;
    color: #333;
}

.content-box {
    height: 31em;
}

.content-box ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
}

.content-box p {
    text-align: center;
    visibility: hidden;
    color: rgb(176, 242, 182, 0.7);
    transition: all 0.2s .1s ease-in-out;
}

.content-box li {
    list-style-type: none;
}

#hub h3 {
    text-align: center;
}

.content-box .important-box,
.content-box>div>.sub-content-box {
    background-color: rgb(176, 242, 182, 0.7);
    transition: all .2s .1s ease-in-out;
    height: 3em;
    border: #333 2px solid;
    border-radius: .67em;
}

.content-box .important-box:hover,
.content-box .flex-column .sub-content-box:hover {
    height: 13em;
}

.content-box .important-box {
    width: 60em;
}

.content-box>div {
    transition: all .2s .1s ease-in-out;
    margin: 3em;
    display: flex;
    justify-content: center;
}

.content-box>div.flex-column>.sub-content-box {
    width: 30em;
}

@media screen and (max-width: 1000px) {
    .content-box {
        height: 75em;
    }

    .content-box>.flex-column {
        flex-direction: column;
    }

    .content-box>div.flex-column>.sub-content-box {
        width: auto;
    }

    .content-box>.flex-column>.sub-content-box:first-child {
        margin-bottom: 3em;
    }

    .content-box .important-box,
    .content-box>div>.sub-content-box {
        height: 4em;
    }
}