html{
    overflow-x: hidden;
}

#bg-img{
    width: 100%;
    height: 800px;
    background: url("../img/accueil-bg.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
}

#bg-img > .line{
    margin-top: 1%;
    background-color: #f1f1f1;
    width: 20%;
    height: .1em;
}

#presentation{
    width: 100%;
    height: 500px;
}

#presentation > img{
    height: 100%;
    width: 120%;
    transform: rotate(6deg) translateY(-20%) translateX(-10%);
}

#presentation > div{
    bottom: 110%;
    position: relative;
}

#presentation > div > p{
    text-align: center;
    margin: 0 auto;
    width: 40%;
}

#activities >p{
    text-align: center;
}

#activities .box {
    display: flex;
    position: relative;
    flex-direction: column;
}

#activities .box >div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
#activities .box .img, .txt{
    width: 30em;
    height: 20em;
    overflow: hidden;
}

#activities .txt>h2{
    color: #CA8838;
}

.frame{
    margin: 3em 0em;
    position: relative;
    transition: all .2s 0s ease-in-out;
}

#activities .txt{
    margin: 3em 0em 0em 6em;
}

.frame::after, .frame::before{
    content: "";
    border: 1px rgb(67,111,179) solid;
    position: absolute;
    width: 30%;
    height: 20%;
    z-index: -2;
    transition: all .2s ease-in-out;
}

.frame::before{
    border-bottom-color: transparent;
    border-left-color: transparent;
    right: -5%;
    top: -7%;
}

.frame::after{
    border-right-color: transparent;
    border-top-color: transparent;
    left: -5%;
    bottom: -7%;
}

.frame:hover{
    transform: scale(1.05);
}

.frame:hover::after, .frame:hover::before {
    width: 100%;
    height: 100%;
}

.frame.seg-anime.next-anime:hover::after{
    background-color: #6AB440;
    transform: translateY(-13%);
    transition: all .2s ease-in-out;
    border-color: transparent;
    opacity: .85;
}

.frame.seg-anime.next-anime:hover::before{
    opacity: 1;
    background-color: #6AB440;
    transform: translateY(13%);
    transition: all .2s ease-in-out;
    border-color: transparent;
}

.frame.seg-anime.next-anime.blue-frame:hover::after, 
.frame.seg-anime.next-anime.blue-frame:hover::before{
    background-color: rgb(102, 199, 255);
}

.shadow{
    box-shadow: 0px 3px 15px 9px rgba(0,0,0,0.34);
}

@media screen and (max-width: 959px) {
    #activities .txt {
        margin: 0 0;
    }
    
    #presentation > div > p{
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    p:not(footer p){
        text-align: center;
    }

    #presentation > div{
        bottom: 100%;
    }

    #activities .txt {
        height: 11em;
    }

    #presentation > div > p{
        width: 60%;
    }
  
    #activities .box .img{
        width: 20em;
        height: 12.5em;
    }
}