@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

*, ::after, ::before{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.fixe-to-top{
    padding-top: 1em;
}

body{
    font-family: 'Advent Pro', sans-serif;
    overflow-x: hidden;
}

header{
    position: fixed;
    background-color: rgb(102, 199, 255);
    height: 60px;
    width: 100%;
    opacity: .85;
    z-index: 10;
}

h1, h2{
    font-family: 'Oooh Baby', cursive;
}

h1{
    margin-top: 60px;
    font-size: 6em;
    text-align: center;
    color: #f1f1f1;
}

h2{
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
}

h3{
    font-size: 2.5em;
}

p, legend{
    font-size: 1.6em;
}

a{
    text-decoration: none;
}

.no-select{
    pointer-events: none;
    user-select: none;
}

nav{
    position: relative;
}

#login img{
    width: 3em;
    height: 3em;
    margin-top: 0.3em;
}

#login{
    position: relative;
    bottom: 50%;
    right: 1%;
    padding: auto 0;
}

.line{
    height: 0.4em;
    width: 30%;
    margin: 0 auto;
    background-color: rgb(102, 199, 255);
    transition: all 0.2s ease-in-out;
}

nav img{
    width: 5em;
    height: 5em;
    margin-top: -0.5em;
    float: left;
}

nav ul {
    display: flex;
    position: relative;
    border: auto;
}

nav ul li{
    list-style-type: none;
    transition: all 0.2s ease-in-out;
    text-align: center;
    padding: 0px 0%;
    width: 20%;
    
}

nav ul li:hover > .line {
    background-color: #4fa23b;
}

nav ul li a{
    font-size: x-large;
    padding-top: .5em;
    display: block;
    color: #333;
    white-space: nowrap;
}

nav #menu-box{
  /*border: solid red;*/
    position: fixed;
    width: 4em;
    height: 4em;
    top: 0%;
    right: 0%;
    z-index: 9;
    visibility: hidden;
}

.respon-line, .respon-line::before, .respon-line::after{
    width: 25px;
    height: 2.5px;
    background-color: #333;
    position: absolute;
    border-radius: 2.5px;
}

.respon-line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.respon-line::before{
    content: '';
    bottom: 7px;
}

.respon-line::after{
    content: '';
    top: 7px;
}

#menu-box.buttonTriggered .respon-line{
    background-color: transparent;
}

#menu-box.buttonTriggered .respon-line::before{
    transform: translateY(7px) rotate(-45deg);
}

#menu-box.buttonTriggered .respon-line::after{
    transform: translateY(-7px) rotate(45deg);
}

.blob, .blob.remake{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    justify-content: center;
    align-items: center;
}

.blob img{
    background-color: rgb(102, 199, 255);
    border-radius: 40%;
    width: 3em;
    height: 3em;
}

#blob-1{
    transition: all .2s .15s ease-in-out;
}

#blob-2{
    transition: all .2s .20s ease-in-out;
}

#blob-3{
    transition: all .2s .25s ease-in-out;
}

#blob-4{
    transition: all .2s .30s ease-in-out;
}

#blob-5{
    transition: all .2s .35s ease-in-out;
}

#blob-6{
    transition: all .2s .40s ease-in-out;
}

#menu-box.buttonTriggered #blob-1,
#menu-box.buttonTriggered #blob-2,
#menu-box.buttonTriggered #blob-3,
#menu-box.buttonTriggered #blob-4,
#menu-box.buttonTriggered #blob-5,
#menu-box.buttonTriggered #blob-6{
    visibility: visible;
}

#menu-box.buttonTriggered #blob-1{
    top: 140%;
}

#menu-box.buttonTriggered #blob-2{
    top: 220%;
}

#menu-box.buttonTriggered #blob-3{
    top: 300%;
}

#menu-box.buttonTriggered #blob-4{
    top: 380%;
}

#menu-box.buttonTriggered #blob-5{
    top: 460%;
}

#menu-box.buttonTriggered #blob-6{
    top: 540%;
}

footer{
    width: 100%;
    margin-top: 2em;
    border-bottom: rgb(102, 199, 255) solid .5em;
    height: auto;
    background-color: rgb(102, 199, 255);
    opacity: .85;
}

footer img{
    width: 2em;
    height: 2em;
    margin: 0 .5%;
}

footer > div{
    width: 80%;
    height: auto;
    position: relative;
    margin: auto;
}

footer #address, footer #time{  
    display: flex;
}

footer #info{
    width: 70%;
    left: 0;
}

footer #contact{
    transition: all .2s 0s ease-in-out;
    position: absolute;
    height: 2em;
    bottom: 0;
    right: 0;
}

.unclickable{
    pointer-events: none;
} 

@media screen and (max-width: 1150px) {
    h1{
        font-size: 3em;
    }
  
    nav ul li :not(#logo), nav ul a :not(#logo){
        display: none;
    }

    nav #menu-box {
        visibility: visible;
    }

    .respon-line, .respon-line::before, .respon-line::after{
        transition: all .2s ease-in-out;
    }
}

@media screen and (max-width: 500px) {
    h2{
        font-size: 2em;
    }
  
    h3{
        font-size: 1.5em;
    }
  
    p{
        font-size: 1em;
    }

    footer img{
        width: 1.5em;
        height: 1.5em;
    }
}